<br>
<div class="jumbotron text-center">
  <h1>Blocipedia</h1>
  <p>All the stuff you want to know (plus some other stuff you didn't want)</p>
  <p>
    <% unless user_signed_in? %>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> or <%= link_to "Sign In", new_user_session_path, class: 'btn btn-info' %>
    <% end %>
  </p>
</div>

<div class="row">
  <div class="col-md-6 text-center">
    <h2>Create your own wikis!</h2>
    <p>A standard membership lets you create and edit unlimited wikis</p>
    <%= link_to "View All Wikis", wikis_path, class: 'btn btn-info' %>
  </div>
  <div class="col-md-6 text-center">
    <h2>Go premium, get more.</h2>
    <p>Premium members can create private wikis!</p>
    <% if user_signed_in? && current_user.standard? %>
      <%= link_to "Upgrade Today!", new_charge_path, class: 'btn btn-warning' %>
    <% elsif user_signed_in? && (current_user.premium? || current_user.admin?) %>
      <p>Create private wikis today!</p>
      <% if user_signed_in? && current_user.premium? %>
        <%= link_to "Cancel Premium Memership?", downgrade_path, method: :post, data: {confirm: 'Are you sure you want to cancel your premium membership? This action cannot be undone, and all wikis you have designated as private will be made public.'} %>
      <% end %>
    <% else %>
      <p> <%= link_to "Sign Up", new_user_registration_path %> for a account to access upgrade options! </p>
    <% end %>
</div>
